.main__flex--container {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.comment {
    font-size: 18px;
    margin-bottom: 25px;

}

.main__login--container {
    flex: 1 1 50%;
    padding: 25px;
}

.main__login--form {
    display: flex;
    flex-direction: column;
}

.main__input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.815);
}

.main__register--container {
    flex: 1 1 50%;
    padding: 25px;
    border-left: 1px solid rgba(107, 107, 107, 0.438);
}

.main__register--form {
    display: flex;
    flex-direction: column;
}

.main__button {
    color: #fff;
    background-color: #d30000c9;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.main__error {
    color: rgba(255, 0, 0, 0.644);
    background: rgba(255, 0, 0, 0.274);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.main__error{
    display: none;
}
.input {
    width: 95%;
    border-radius: 4px;
    padding: 16.5px 14px;
    border: 1px solid gray;
    margin-top: 15px;
}
.input::placeholder {
    color: gray;
    font-size: 18px;
}
.login_button{
    background-color: #2e7d32;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}