a{
    color: white;
}
.header{
    background-color: rgba(0, 184, 0, 0.781);
}
.header__flex{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container{
    width: 1200px;
    margin: 0 auto;
}