.cart__box{
    flex: 1 1 70%;
}

.cart__table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.cart__table input{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(99, 99, 99);
    max-width: 150px;
}

.cart__table td:nth-child(1){
    display: flex;
    align-items: center;
}

.cart__table td:nth-child(1) img{
    margin-right: 15px;
}

.cart__table td{
    padding: 15px;
}

.table__header{
    background-color: #c7c7c7;
    font-weight: 700;
}

